.h-150 {min-height: 150px;}
.h-200 {min-height: 200px;}
.h-300 {min-height: 300px;}
.bg-darkgrey {background: #6c6c6c;}
.bg-grey {background: #afaeae;}
.border-dark {border-top: solid #282828; margin: 20px auto;}
.col-20 { flex: 0 0 20%; max-width:20%}
.col-20 { flex: 0 0 20%;
max-width: 20%}
.h-70 {min-height:70px;}